In [3]:
import numpy as np
import scipy.stats
import pandas as pd

In [4]:
dummy_age = [20, 21, 24, 24, 28, 26, 19, 22, 26, 24, 21,
            19, 22, 28, 29, 6, 100, 25, 25, 28, 31]
dummy_height = [150, 151, 155, 153, 280, 160, 158, 157, 158, 145, 150,
               155, 155, 151, 152, 153, 160, 152, 157, 157, 160, 153]
dummy_df = pd.DataFrame(list(zip(dummy_age, dummy_height)),
                        columns =['Age', 'Height(cm)'])

In [5]:
dummy_df

    Age  Height(cm)
0    20         150
1    21         151
2    24         155
3    24         153
4    28         280
5    26         160
6    19         158
7    22         157
8    26         158
9    24         145
10   21         150
11   19         155
12   22         155
13   28         151
14   29         152
15    6         153
16  100         160
17   25         152
18   25         157
19   28         157
20   31         160

In [6]:
def modified_z_score(my_data):
    # First Calculate Median
    median_my_data = np.median(my_data)
    
    # Median Absolute Deviation 
    # Median of | X_i - median of X| for all X_i
    mad = np.median(my_data.map(lambda x: np.abs(x - median_my_data)))
    
    # Modified Z score
    # 0.6745 * (X_i - median of X)/Median Absolute Deviation
    modified_z_score = list(my_data.map(lambda x: 0.6745* (x - median_my_data)/mad))
    return modified_z_score

In [7]:
modified_z_score(dummy_df['Age'])

[-0.8993333333333333,
 -0.6745,
 0.0,
 0.0,
 0.8993333333333333,
 0.44966666666666666,
 -1.1241666666666668,
 -0.44966666666666666,
 0.44966666666666666,
 0.0,
 -0.6745,
 -1.1241666666666668,
 -0.44966666666666666,
 0.8993333333333333,
 1.1241666666666668,
 -4.047,
 17.087333333333333,
 0.22483333333333333,
 0.22483333333333333,
 0.8993333333333333,
 1.5738333333333332]

In [9]:
mod_z_score_age = modified_z_score(dummy_df['Age'])
dummy_df.iloc[np.where(np.abs(mod_z_score_height)>=3)]

    Age  Height(cm)
15    6         153
16  100         160

In [10]:
mod_z_score_height = modified_z_score(dummy_df['Height(cm)'])
dummy_df.iloc[np.where(np.abs(mod_z_score_height)>=3)]

   Age  Height(cm)
4   28         280