In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
dummy_age = [20, 21, 24, 24, 28, 26, 19, 22, 26, 24, 21,
            19, 22, 28, 29, 6, 100, 25, 25, 28, 31]
dummy_height = [150, 151, 155, 153, 280, 160, 158, 157, 158, 145, 150,
               155, 155, 151, 152, 153, 160, 152, 157, 157, 160, 153]
dummy_df = pd.DataFrame(list(zip(dummy_age, dummy_height)),
                        columns =['Age', 'Height(cm)'])

In [3]:
dummy_df

    Age  Height(cm)
0    20         150
1    21         151
2    24         155
3    24         153
4    28         280
5    26         160
6    19         158
7    22         157
8    26         158
9    24         145
10   21         150
11   19         155
12   22         155
13   28         151
14   29         152
15    6         153
16  100         160
17   25         152
18   25         157
19   28         157
20   31         160

## Calculate z-score using scipy.stats.zscore

In [5]:
scipy.stats.zscore(dummy_df['Height(cm)'])

array([-0.3861155 , -0.34909072, -0.20099163, -0.27504118,  4.4271051 ,
       -0.01586776, -0.08991731, -0.12694208, -0.08991731, -0.57123937,
       -0.3861155 , -0.20099163, -0.20099163, -0.34909072, -0.31206595,
       -0.27504118, -0.01586776, -0.31206595, -0.12694208, -0.12694208,
       -0.01586776])

### We can also use absolute values while calculating z_score

In [9]:
z_score_height = np.abs(scipy.stats.zscore(dummy_df['Height(cm)']))
dummy_df.iloc[np.where(z_score_height>3)]

   Age  Height(cm)
4   28         280

## Let's see if Z-score works for Age as well

In [10]:
z_score_age = np.abs(scipy.stats.zscore(dummy_df['Age']))
dummy_df.iloc[np.where(z_score_age>3)]

    Age  Height(cm)
16  100         160